.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mh-24{
  margin: 24px 0;
}
.mb-24{
  margin-bottom: 24px;
}
.pa-40{
  padding: 40px;
}
.px-40{
  padding: 0 40px;
}
.pa-20{
  padding: 20px;
}
